<?php
$CONFIG = array (
  'mail_smtpmode' => 'smtp',
  'mail_smtpsecure' => 'ssl',
  'mail_sendmailmode' => 'smtp',
  'mail_from_address' => '{{ mail_from_address }}',
  'mail_domain' => '{{ mail_domain }}',
  'mail_smtpauthtype' => 'LOGIN',
  'mail_smtpauth' => 1,
  'mail_smtphost' => '{{ mail_smtphost }}',
  'mail_smtpport' => '{{ mail_smtpport }}',
  'mail_smtpname' => '{{ mail_smtpname }}',
  'mail_smtppassword' => '{{ mail_smtppassword }}',
);
